.images-carousel {
    position: relative;
    
    & .swiper {
        margin-bottom: 4.6rem;

        @media (max-width: $md3+px) {
            margin-bottom: 22px;
        }
    }
    &__img {
        padding-bottom: 56.26%;

        @media (max-width: $md3+px) {
            padding-bottom: 120%;
        }
    }

    & .slider-buttons {
        transform: translate(-50%, calc(-50% - (4.6rem / 2)));
    }
}
