.cards-carousel {
    position: relative;
    margin-bottom: 4.5rem;

    @media (max-width: $md3+px) {
        margin: 0 -32px 22px;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100px;
            height: 100%;
            z-index: 5;
            pointer-events: none;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
            background: -moz-linear-gradient(
                left,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0) 100%
            ); /* FF3.6-15 */
            background: -webkit-linear-gradient(
                left,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0) 100%
            ); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(
                to right,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0) 100%
            ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
        }

        &:after {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            height: 100%;
            width: 100px;
            z-index: 5;
            pointer-events: none;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
            background: -moz-linear-gradient(
                left,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 1) 100%
            ); /* FF3.6-15 */
            background: -webkit-linear-gradient(
                left,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 1) 100%
            ); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 1) 100%
            ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &--three-slides {
        & .swiper-slide {
            opacity: 1 !important;
        }
    }

    & .swiper {
        margin: -2rem;
        padding: 2rem;
        width: auto;
    }

    & .swiper-wrapper {
        margin-bottom: 4.5rem;

        @media (max-width: $md3+px) {
            margin-bottom: 10px;
        }
    }

    & .swiper-slide {
        opacity: 0;
        transition: all 0.3s ease 0.8s;
        height: auto;
        @media (max-width: $md3+px) {
            width: 204px;
        }

        &.swiper-slide-prev,
        &.swiper-slide-next,
        &.swiper-slide-active {
            transition: all 0.1s ease 0s;
            opacity: 1;
        }
    }

    & .slider-pagination {
        position: absolute;
        left: 0;
        bottom: 2rem;
        width: 100%;

        @media (max-width: $md3+px) {
            bottom: 0;
        }
    }
}
