.select {
	&__item {
        position: relative;
	}
	// .select__title
	&__title {
        display: flex;
        align-items: center;
        width: 100%;
        background: rgba(76, 98, 100, 0.05);
        border-radius: 0.8rem;
		min-height: 4rem;
        padding: 0.8rem 1.5rem;
        position: relative;
        cursor: pointer;
	}
	// .select__value
	&__value {

		span {
            font-size: 1.4rem;
            line-height: 1.58em;
            font-weight: 400;
            letter-spacing: 0.05em;
            font-family: $secondFontFamily;
		}
		&:before {
            position: absolute;
            font-family: $fontAwesome;
            font-weight: 700;
			content: "\f078";
			display: inline-block;
			transition: all 0.3s ease 0s;
            right: 1.2rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 0.6em;
		}
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #000;
		display: none;
		position: absolute;
		top: 100%;
		border-radius: 0 0 0.8rem 0.8rem;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border-top: 0;
		border-top: 0;
		font-size: 14px;
        font-weight: 500;
		line-height: 170%;
		padding: 10px 0px 5px 0px;
		color: $textColor;
		box-shadow: 0px 0px 10px rgba(236, 157, 171, 0.3);
		max-height: 315px;
		overflow-y: auto;
	}
	// .select__option
	&__option {
		cursor: pointer;
		padding: 5px 15px;
		margin: 0px 0px 0px 0px;
		@media (min-width: 992px) {
			&:hover {
				background: rgba($mainColor, 0.3);
			}
		}
	}
	&._active {
		z-index: 5;
		.select__value {
			&:before {
				transform: scale(1, -1);
			}
		}
		.select__options {
			display: block;
		}
	}
}