.text-block {
    & > *:last-child {
        margin-bottom: 0;
    }
    &--bottom-space {
        margin-bottom: 5rem;
    }
    &__title {
    }

    &__text {
        margin-bottom: 5.5rem;

        @media (max-width: $md3+px) {
            margin-bottom: 40px;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
        &--secondary {
            padding: 0 7rem;

            @media (max-width: $md2+px) {
                padding: 0 50px;
            }
            @media (max-width: $md3+px) {
                padding: 0;
            }

            &.text-content {
                line-height: 1.59em;
                letter-spacing: 0.05em;
            }
        }

        &--bottom-space {
            margin-bottom: 4.5rem;
        }
    }

    &__media-wrap {
        width: 100%;
        margin-bottom: 4rem;

        @media (min-width: 768px) {
            max-width: 56rem;
            float: right;
            margin-left: 6rem;
        }

        & img {
            width: 100%;
            height: auto;
            display: block;
            box-shadow: 0px 4px 19px rgba(40, 83, 143, 0.2);
        }

        & video {
            margin: 0 !important;
            height: 100% !important;
        }
    }
}
